.text{
    color:black;
    
   
}




h4{
    background-color: #f3f3f3;

}

.text .title{
    background-color:#f3f3f3;
    text-align:center;
    color:#343434;
}

.image-holder{
    text-align:center;
}